/* 
    CSS :: smooth scrolling 
    - only works in Chrome, Firefox and Opera
    - does not work in Internet Explorer, Edge or Safari
 */
 html {
    scroll-behavior: smooth;
}

/* 
    GENERAL CSS 
*/
:root {
    --text-shadow: 0 2px rgba(0,0,0,0.2);
    --overlay: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
    --color-body-black : #2d2d2d;
    --color-light-grey-text: #969696;
    --color-text-hover: #f5ebc6;
    --color-orange-brand: #e2574c;
    --color-link-hover: #b64036;
    --color-light-grey: #d7d7d7;
    --color-dark-grey: #242424;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--color-body-black);
}
a {
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
}
h1 {
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    h1 > em {
        font-style: italic;
    }
    h1 > strong {
        font-weight: bold;
    }

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    color: var(--color-light-grey-text);
}
.container {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 1240px;
    word-break: break-word;
}
.container > .general-para {
    font-size: 1.125em;
    line-height: 2;
}



/* Custom CSS :: Mobile */
    header {
        position: fixed;
        width: 100%;
        top: 0; left: 0;
        background-color: white;
        z-index: 100;
    }

header.scrolled {
    background-color: rgba(0,0,0,0.6);
}
    header .show-scrolled {
        display: none;
    }
    header.scrolled .hide-scrolled {
        display: none;
    }
    header.scrolled .show-scrolled {
        display: block;
    }
    header.scrolled > .menu > nav > ul > li > a {
        color: white;
    }

header > .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    header > .menu > .menu-element {
        flex: 1 1 50%;
        height: 3rem;
    }
    header > .menu > .menu-element > a {
        height: inherit;
    }
    header > .menu > .menu-element > img,
        header > .menu > .menu-element > a > img { 
                width: initial;
                height: 100%;
                cursor: pointer;
            }
    header > .menu > .logo,
    header > .menu > .cart { 
        position: relative;
        order: 1;
        display: flex;
        align-items: center;
    } 
    header > .menu > .logo { flex-direction: row; }
    header > .menu > .cart { flex-direction: row-reverse; }
        /* Default style for the number of items in the cart */
        header > .menu > .cart > .cart_num {
            visibility: hidden;
            position: absolute;   
            top: -4px; right: -4px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            transform: scale(1);
            transition: transform 200ms ease;
        }
        /* Click to Expand and shrink the number */
        header > .menu > .cart > .cart_num.shrink {
            transform: scale(1.5);
        }
            /* Default style for the letter in the cart */
            header > .menu > .cart > .cart_num > p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 0.625rem;
                font-weight: 600;
                color: white;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                overflow: visible;
            }
    header > .menu > nav {
        position: relative;
        flex: 1 0 100%;
        order: 2;
        margin-top: 1.5rem;
    }
    header > .menu > nav::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-light-grey);
        top: -0.75rem;
        left: 0;
    }
        header > .menu > nav > ul {
            display: flex;
            justify-content: space-around;
            padding: 0.25rem 0;
        }
            header > .menu > nav > ul > li > a {
                color: var(--color-orange-brand);
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
            }
            header > .menu > nav > ul > li > a:hover {
                color: var(--color-link-hover);
            }
.hero-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    margin-top: 110px;
    background: 
        var(--overlay),
        url('/Aloha-Project/images/banner-girl.png') no-repeat center 3rem,
        url('/Aloha-Project/images/flower-bkgd.jpg') repeat-x center fixed;
    background-size: cover, contain, cover;
    color: white;
}           
    .hero-banner > .container {
        font-weight: 500;
        text-shadow: var(--text-shadow);
    }
    .hero-banner > .container > p:nth-child(1){
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .hero-banner > .container > p:nth-child(2){
        font-family: 'Playfair Display', serif;
        font-size: 2.25rem;
    }
.about {
    padding: 2.25rem 0;
}
.shop > ul {
    height: 200.8vw;    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.8vw;
}
    .shop > ul > li {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shop > ul > li:nth-child(1){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/mens-category.jpg');
    }
    .shop > ul > li:nth-child(2){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/trends-category.jpg');
    }
    .shop > ul > li:nth-child(3){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/glasses-category.jpg');
    }
    .shop > ul > li:nth-child(4){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/sale-category.jpg');
    }
    .shop > ul > li:nth-child(5){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/bags-category.jpg');
    }
    .shop > ul > li:nth-child(6){
        background-image: 
            var(--overlay),
            url('/Aloha-Project/images/womens-category.jpg');
    }
    .shop > ul > li:first-child, 
    .shop > ul > li:last-child {
        grid-column: 1 / 3;
    }
    .shop > ul > li:last-child {
        margin-bottom: 0;
    }

.featured {
    padding: 2.5rem 0 2rem 0;
}
    .featured > .container {
        max-width: 1500px;
        padding: 1rem 0;
    }
            .carousel-cell {
                width: 100%;
                padding: 1rem 0;
            }
                /* .featured > .container > .products > .flickity-viewport > .flickity-slider > .carousel-cell > * { */
                .carousel-cell > * {
                    position: relative;
                    margin-bottom: 1.25rem;
                }
                .carousel-cell > img {
                    margin: 0 auto;
                }
                .carousel-cell > .cat,
                .carousel-cell > .price {
                    color: var(--color-light-grey-text);
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }
                .carousel-cell > .cat {
                    font-size: 0.625rem;
                }
                .carousel-cell > .product-name {
                    color: var(--color-orange-brand);
                    font-size:  1.25rem;
                }
                .carousel-cell > .price {
                    font-size: 0.8rem;
                }
                .carousel-cell > button {
                    background-color: var(--color-body-black);
                    height: 32px;
                    padding: 0 16px;
                    font-size: 0.8rem;
                    color: white;
                    border: 0 solid transparent;
                    border-radius: 16px;
                    cursor: pointer;
                }

.updates {
    padding: 2rem 0;
    background: 
        var(--overlay),
        url("/Aloha-Project/images/wave-bkgd.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-shadow: var(--text-shadow);
}
    .updates > .container > .subscription {
        margin: 1.5rem auto;
        width: 90%;
        height: 2.5rem;
        border-radius: 1.5em;
        background-color: white;
        display: flex;
        padding: 0.25rem 0.25rem 0.25rem 1.5rem;
    }
        .updates > .container > .subscription > * {
            padding: 0; margin: 0;
            font-family: 'Raleway', sans-serif;
            font-size: 0.8rem;
            display: block;
            border: 0 solid transparent;
        }
        .updates > .container > .subscription > input[type="email"] {
            flex: 1;
            min-width: 100px;
        }
            .updates > .container > .subscription > input[type="email"]::-webkit-input-placeholder  {
                color: var(--color-light-grey);
            }
            .updates > .container > .subscription > input[type="email"]::-moz-placeholder {
                color: var(--color-light-grey);
            }
            .updates > .container > .subscription > input[type="email"]:-ms-input-placeholder {
                color: var(--color-light-grey);
            }
            .updates > .container > .subscription > input[type="email"]:-moz-placeholder {
                color: var(--color-light-grey);
            }
        .updates > .container > .subscription > button {
            flex: none;
            width: 100px;
            background-color: var(--color-orange-brand);
            color: white;
            font-weight: 500;
            border-radius: 1rem;
        }
footer {
    margin-top: 0.4rem;
    padding: 2.5rem 0;
    background-color: var(--color-dark-grey);
    font-family: 'Playfair Display',  serif;
    color:  white;
    line-height: 1.5;
}

.contact {
    margin: 1.5rem 0;
}
.social {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
    .social > li {
        margin-right: 1rem;   
    }
    .social > li:last-child {
        margin-right: 1rem;   
    }
        .social > li > span {
            display: none;
        }



/* Custom CSS :: Tablet */
@media only screen and (min-width : 600px) {
    body {
        font-size: 16px;
    }
        
        header > .menu > .menu-element.logo, 
        header > .menu > .menu-element.cart {
            flex: 0 1 140px;
        }
        header > .menu > nav { 
            order: 1;
            margin: 0 auto;
            max-width: 600px;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
        }
            header > .menu > nav::before {
                display: none;
            }
            header > .menu > nav > ul {
                width: 100%;
            }
    
    .hero-banner {
        margin-top: 64px;
    }

    .shop > ul {
        height: 49.5vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1vw;
    }
        .shop > ul > li {
            font-size: 2rem;
            cursor: pointer;
        }
        .shop > ul > li:hover {
            color: var(--color-text-hover);
        }
        .shop > ul > li:last-child {
            grid-column: 3 / 5;
        }

    .carousel-cell {
        width: 50%;
    }

    .updates > .container > .subscription {
        max-width: 320px;
    }
    
    footer > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
        .social {
            display: block;
            margin-top: 0;
            margin-right: 32px;
            justify-content: initial;
        }
            .social > li {
                display: flex;
                align-items: center;
                margin-right: 0;
                margin-bottom: 8px;
                font-family: 'Raleway', sans-serif;
            }
            .social > li:last-child {
                margin-bottom: 0;
            }
                .social > li > i {
                    width: 32px;
                    text-align: center;
                    margin-right: 8px;
                }
                .social > li > span {
                    display: block;
                }
}

/* Custom CSS :: Desktop */
@media only screen and (min-width : 1240px) {
    .container {
        padding: 1rem 3rem;
    }

    header > .menu > .menu-element {
        height: 3.5rem;
    }
    .hero-banner {
        margin-top: 88px;
        height: 500px;
    }
        .hero-banner > .container > p:nth-child(1){
            font-size: 1.5rem;
        }
        .hero-banner > .container > p:nth-child(2){
            font-size: 3rem;
        }
    .about > .container {
        max-width: 720px;
    }
    
    .carousel-cell {
        width: 25%;
    }

    .updates > .container {
        max-width: 720px;
    }
}